<%= "<p class=\"notice\">#{flash[:notice]}</p>" if flash[:notice] %>
<% form_remote_tag(:url=> {:controller => "users", :action=> "reset_password"}) do -%>	
	<span class="instructions" style="font-size: 1em; font-style: normal;">Enter the email address that you use to login to Reveille. We'll reset your password and send an email with that password in it to the email address you provide.</span>
	<p>Email address
		<div></div>
		<%= text_field_tag('email', params[:email]) %>
	</p>
	<br>
	<br>
	<%= submit_tag("Reset Password") %> or 
	<%= link_to_remote("Cancel", :url=> {:controller => "users", :action=> "cancel_reset_password"}, :html => {:class => "action-link"}) %>
<% end -%>