<div id="app-footer">
	<p>
		<%= link_to("Help/Support", "http://getsatisfaction.com/wikidlabs#problem", {:target => '_new'}) %>
		|
		<%= link_to("Customer Forum", "http://getsatisfaction.com/wikidlabs", {:target => '_new'}) %>
		|
		<%= link_to("Blog", "http://wikidlabs.com/blog") %>
	</p>
	<p>
		Reveille is a handcrafted product of <%= link_to("Wikid Labs", "http://wikidlabs.com") %>
	</p>
</div>
